@using CoachAssistant.Client.Pages
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        <div class="top-row px-4">
            @Body
        </div>
    </div>
</div>

@code {
    // You can add any required C# code here
}
